<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="login()" *ngIf="!tokenIsValid">Login</a>
      <a mat-list-item routerLink="/profile" *ngIf="tokenIsValid">My Profile</a>
      <a mat-list-item href="https://staging-manage.auditframe.com" *ngIf="tokenIsValid">Auditframe</a>
      <a mat-list-item href="https://staging-mbs.auditframe.com" *ngIf="tokenIsValid">My Bank Summary</a>
      <a mat-list-item href="https://staging-mycashreport.auditframe.com" *ngIf="tokenIsValid">My Cash Report</a>
      <a mat-list-item (click)="logout()" *ngIf="tokenIsValid && !enableChoosingAccount">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxFlex="100"></div>
      <ng-container *ngIf="enableChoosingAccount">
        <img
          mat-card-avatar
          [matMenuTriggerFor]="menu"
          [src]="avatar"
          *ngIf="avatar">
        <div
          mat-card-avatar
          [matMenuTriggerFor]="menu"
          class="avatar-image pointer"
          *ngIf="!avatar"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="chooseAccount()">Choose Account</button>
          <button mat-menu-item (click)="logoutCurrentUser()">Logout</button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
